# Arquivos específicos do Jupyter/Colab
.ipynb_checkpoints/
*.ipynb_checkpoints*
**.ipynb_checkpoints*
__pycache__/

# Arquivos temporários/outputs
*.tmp
*.temp
*.bak

# Dados grandes ou sensíveis (não versionados)
data/external/

# Configurações de IDE (PyCharm/VSCode)
.idea/
.vscode/
*.iml

# Saídas de notebooks
notebooks/*.csv
notebooks/*.png
notebooks/.ipynb_checkpoints/
notebooks/*.ipynb_checkpoints*

# Credenciais
.env

# Interpretador Python
.venv

# arquivos temporários do LaTeX
*.aux
*.bbl
*.blg
*.bcf
*.brf
*.lof
*.log
*.lot
*.lol
*.nav
*.out
*.pdfsync
*.run.xml
*.synctex.gz
*.toc
*.ttt
*.fff
*.fls
*.fdb_latexmk
*.xdv
*.ps
*.ilg
*.ind
*.idx
*.upa
*.upb

# diretórios temporários criados pelo PyCharm / TeXiFy
auxil/
out/
build/
latex.out/
latex.aux/